Repository gabrielgoisandrade/runes-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint "**/*.scss" --fix, eslint

chore: wip
  package.json
Due: none

chore: adicionando estizações base
  src/styles/_base.scss
Due: stylelint "**/*.scss" --fix

chore: wip
  src/app/(home)/page.module.scss
  src/app/(home)/page.tsx
  src/app/layout.tsx
  src/styles/_reset.scss
  src/styles/globals.scss
Due: stylelint "**/*.scss" --fix, eslint

chore: wip
  package.json
  pnpm-lock.yaml
  src/actions/calculateRunes.ts
  src/app/(home)/Form/form.module.scss
  src/app/(home)/Form/index.tsx
  src/app/(home)/page.module.scss
  src/app/(home)/page.tsx
  src/app/(home)/pre-commit
  src/app/layout.tsx
  src/components/Input/index.tsx
  src/components/Input/input.module.scss
  src/layouts/Base.tsx
  src/layouts/base.module.scss
  src/styles/_base.scss
  src/styles/abstract/_index.scss
  src/styles/abstract/_variables.scss
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_variables.scss
Due: stylelint "**/*.scss" --fix, eslint

chore: formatação de valores
  src/actions/calculateRunes.ts
Due: eslint

add: adsense implementado
  src/app/layout.tsx
Due: eslint

chore: ads.txt implementado
  ads.txt
Due: none

chore: ajustando SEO
  google01b0747c761f7b38.html
  src/app/layout.tsx
  src/app/opengraph-image.png
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint

chore: adicionando configurações da vercel
  vercel.json
Due: none

chore: vercel configs
  vercel.json
Due: none

chore: verificação google
  public/google01b0747c761f7b38.html
Due: none

fix: typo ajustado
  src/app/robots.ts
Due: eslint

chore: ajuste no robots
  src/app/robots.ts
Due: eslint

chore: removendo ads.txt
  ads.txt
Due: none

chore: adicionando tipografia
  src/styles/_typograph.scss
Due: stylelint "**/*.scss" --fix

add: tutorial implementado
  src/app/(home)/Tutorial/index.tsx
  src/app/(home)/Tutorial/tutorial.module.scss
  src/components/Heading/index.tsx
  src/components/Paragraph/index.tsx
  src/components/Section/index.tsx
  src/components/Section/section.module.scss
Due: stylelint "**/*.scss" --fix, eslint

chore: importando tipografia
  src/styles/globals.scss
Due: stylelint "**/*.scss" --fix

chore: adicionando reset de ul e ol
  src/styles/_reset.scss
Due: stylelint "**/*.scss" --fix

chore: ajuste no base
  src/layouts/Base.tsx
  src/layouts/base.module.scss
Due: stylelint "**/*.scss" --fix, eslint

chore: ajuste no page
  src/app/(home)/page.tsx
Due: eslint

chore: ajuste no page
  src/app/(home)/page.module.scss
Due: stylelint "**/*.scss" --fix

chore: ajuste na posição do result
  src/app/(home)/Form/index.tsx
Due: eslint

chore: adicionando metadataBase
  src/app/layout.tsx
Due: eslint

chore: .env adicionado
  .env.production
  .gitignore
Due: none

chore: validador de env adicionado
  src/env.ts
Due: eslint

chore: base url implementada
  src/app/layout.tsx
Due: eslint

Path conditions:
  stylelint "**/*.scss" --fix: any of: *.{css,scss}
  eslint: any of: *.{ts,tsx,js}
